[submodule "backend"]
	path = backend
	url = https://github.com/Team-project-ISIC-attendance/isic-project-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Team-project-ISIC-attendance/isic-project-frontend.git
[submodule "hardware"]
	path = hardware
	url = https://github.com/Team-project-ISIC-attendance/isic-project-hardware.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/Team-project-ISIC-attendance/isic-project-documentation.git
